@mixin button($color: green, $bgcolor: transparent){
  height: 24px;
  min-width: 24px;
  padding: 3px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, .7);

  & i {
    font-size: 18px;
  }

  &:active, &.active{
    color: $color;
    background: $bgcolor;
  }

  &:hover{
    background: #eee;
    cursor: pointer;
  }

}

@mixin clearList(){
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin noTextSelect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}