@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $headerHeight + $toolbarHeight + $formulaHeight;
  overflow-x: auto;
  padding-bottom: 2px;

  & .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $rowHeight;
  }

  & .row_info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $infoCellWidth;
    height: 100%;
    border: 1px solid $borderColor;
    background: #f8f9fa;
    border-top: none;
  }

  & .row_data {
    display: flex;
  }

  & .column {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f9fa;
    min-width: 40px;
    width: $cellWidth;
    border: 1px solid $borderColor;
    border-top: none;
    border-left: none;
  }

  & .col_resize {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 4px;
    background: $primaryColor;
    opacity: 0;

    &:hover {
      opacity: 1;
      cursor: col-resize;
    }
  }

  & .row_resize {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 4px;
    background: $primaryColor;
    opacity: 0;

    &:hover {
      opacity: 1;
      cursor: row-resize;
    }
  }

  & .cell {
    min-width: 40px;
    padding: 5px;
    width: $cellWidth;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: none;
    border-left: none;
    color: #111;
    white-space: nowrap;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid $primaryColor;
      z-index: 2;
    }
  }
}
